*{
  margin: 0;
  padding: 0;
} /*
.main{

  display: flex;
  justify-content:center;
  align-items: center;
  gap:100 px !important; 
}


.destinosclasicos{
background-color: beige;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
display: flex;
align-items: center;
justify-content: center;
}

.destinosclasicos2{
  background-color: beige;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
 flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}
.cardviaje{
 width: 300rem;
 

 
}
.cardviaje2{
  display: flex;
  margin-left: 15vh;  
  background-color: #7a89fc;
 padding: 20px;
 margin: 25px;
 align-items: center;

}




.fa-brands {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
;
background-color:green;
font-size: 45px;

}
.fa-whatsapp {
    font-size: 45px;
    background-color: rgb(227, 229, 232);
    color: rgb(11, 206, 66);
    width: 55px;
    height: 55px;
    text-align: center;
    line-height: 105px;
    bottom: 30px;
    right: 30px;
    position: fixed;   
}
h2
{
  background-color: #6bcfe8;
  display: flex;
  justify-content: center;
  padding:10px;
  margin: 15px;
  font-style: italic;
  margin-left: 25vh;
  margin-right: 35vh;
  padding: 2vh;
  font-weight: bold;
  font-style: italic;
  font-size: 35px;
  font-family:  sans-serif;
  text-decoration:dotted;
  color: #560cf6;
  border-radius: 10px;
  border-style: groove;
  
}
.links{
  display: flex;
margin: auto;
background-color: yellow;
padding-top: 20px;
display: flex;
justify-content: center;
flex-wrap: nowrap;
image-rendering: auto;


}
.links_nav{
  display: flex;
  align-items: center;
background-color: rgb(255, 0, 132);
margin: auto;
font-size: medium;
justify-items: center;
padding: 20px;

}
.video{
display: flex;
align-items: center;
justify-content: center;
margin-top: 25px;
margin-left: 25px;

}
.icono{
width: 40px;
height: 40px;
display: flex;

}
.iconoface{
  display: flex;
  width:45px;
  height:45px;
  align-items: right;
}
.prueba{
  background-color: #00ffff;
  font-size: 200px;
  padding: 25px;
  background-image: -moz-linear-gradient();
}
.links__nav{
  display: flex;
  align-items: left;
  padding: 10px;
  margin: 12px;
  justify-content: center;
  font-size: medium;
  gap: 15px;
  
  margin-right: 19px;

}

.links__nav__nos{
  display: flex;
  padding: 15px;
  background-color: rgb(53, 215, 174);
  border-radius: 5px;
}


  
  

.formulario{

      background-color: aqua;
      font-size: medium;
      padding: 10rem;
      float: left;
      box-sizing: 300rem;
    }
    .formulario__estilo{

      box-sizing: 125px;
      background-color: #7a89fc;
      font-size: larger;
    }
    h4{

      font-size: larger;
      font-weight: 200;
      font-style: italic;
      font-family: Arial, Helvetica, sans-serif;
    }
h5{

      font-size: larger;
      font-weight: 200;
      font-style: italic;
      font-family: Arial, Helvetica, sans-serif;
    }

h6{

      font-size: larger;
      font-weight: 200;
      font-style: italic;
      font-family: Arial, Helvetica, sans-serif;
    }
h7{

      font-size: larger;
      font-weight: 200;
      font-style: italic;
      font-family: Arial, Helvetica, sans-serif;
    }
*/

.destinosclasicos{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: yellow;
  width: 100%;
  justify-content: space-around;
}
.cardviaje{
 width: 300rem;
 

 
}
.cardviaje2{
  display: flex;
  margin-left: 15vh;  
  background-color: #7a89fc;
 padding: 20px;
 margin: 25px;
 align-items: center;
}
.gridContainer{
  display: grid;
  grid-template-areas: "header header"
  "encabezado_texto encabezado_video"
  "titulo titulo"
  "Destinosclasicos Destinosclasicos"
  "footer footer";
      background-color: rgb(193, 188, 188);	
  grid-template-columns: 50% 50%;
grid-template-rows: 100px 1fr auto 400px;
}

header{
  grid-area: header;
  display: flex;
  background-color: rgb(162, 247, 174);

  
}
.links{
  
  padding: 1px;
  display: flex;
  flex: 1;
  list-style-position: none;
  width: 100%;

}
.links__nav{
  display: flex;
  list-style-position: none;
  gap: 15px;
}
.links__nav__nos{
  padding: 1rem;
  font-size: 1,5 rem;
  position: relative;
  top: 20px; 
  justify-items: center;
  justify-content: center;
  list-style: none;
  background-color: bisque;
  
}
section.encabezado_new{
  grid-area: titulo;
  display: flex;
  justify-content: center;
  background-color: rgb(239, 177, 63);
  justify-items: center;

}
h2{
  
  color: rgb(189, 56, 7);
}
section.destinosclasicos{
  grid-area: Destinosclasicos;
  display: flex;
  justify-items: center;
  justify-content: center;
}
footer{
  grid-area: footer;
  background-color: brown;
}
section.encabezado_video{
  grid-area: encabezado_video;
  display: flex;
  padding: auto;
  background-color: rgb(190, 208, 73);
  justify-items: center;
  justify-content: center;
}
section.encabezado_texto{

  grid-area: encabezado_texto;
  background-color: blue;

}

footer {
  background-color: rgb(53, 230, 67);
  color: white;
  height: max-content;
}

.footer-bottom__copyright {
  text-align: center;
  color: gray;
  font-weight: 400;
}

.footer-bottom__copyright a {
  text-decoration: none;
  color: gray;
}

.footer-bottom__copyright a:hover {
  color: #72c755;
  text-decoration: underline;
  width:100%;

}
.icono{
  width: 40px;
  height: 40px;
  display: flex;
}


  


    @media (MAX-WIDTH:760PX){

       .gridContainer{
        display: grid;
        color: #7a89fc;
        grid-template-columns:  100%;
        grid-template-areas: header 
                             encabezado_texto
                             encabezado_video
                             titulo
                             destinosclasicos
                             footer;
        background-color: #f2e860;
        display: inline-block;
        width: 100%;
        justify-content: center;
        justify-items: center;
       }
        .destinosclasicos{
          display: flex;
          display: inline-block;
          flex-direction: column;
          flex-wrap: wrap;
          width: 80%;
          justify-content: center;
          justify-items: center;

        }
       .enccabezado_video{
        display: flex;
        display: inline-block;
       }
    }
      
    